html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
/* "*" is a universal selector that matches all elements on the page.*/
/*margin 0 represent all page width // padding represents space between all content in the page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
ol,
ul,
li {
  text-decoration: none;
  list-style: none;
}
:root {
  --font-color: #282944;
  --purple-color: #4d2497;
  --OurLight: #fbf6fb;
  --littlePurple: #8b45fc;
}
body {
  background-color: var(--OurLight);
  color: var(--font-color);
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}
h1 {
  font-size: 5.4rem;
  line-height: 6.4rem;
  color: #222;
  font-weight: 700;
}
h2 {
  font-size: 3.8rem;
  line-height: 5.4rem;
  color: #222;
  font-weight: 400;
}
h4 {
  font-size: 1.8rem;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 1.2rem;
}
p {
  font-size: 1.6rem;
  color: black;
  margin: 1.6rem 0 2rem 0;
}
.section-p1 {
  padding: 4rem 8rem;
}
.section-m1 {
  margin: 4rem 0;
}
/*HEADER CSS */
.header {
  display: flex;
  align-items: center;
  background-color: var(--OurLight);
  padding: 0 4.8rem;
  height: 9.6rem;
  justify-content: space-between;
  font-family: "Cormorant Garamond", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
}
.logotext {
  font-size: 3.6rem;
  font-weight: 400;
}
.LOGO {
  width: 10%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  height: 9.6rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.trigger-drop {
  display: flex;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
}
.drop {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop li {
  padding: 12px 16px;
  list-style-type: none;
}
.drop li a {
  text-decoration: none;
}
.dropdown:hover .drop {
  display: block;
}
.navbar li a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--font-color);
  transition: 0.3s ease-out;
}
#Signup {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  background-color: var(--purple-color);
  color: #f9f9f9;
}
/* HOME PAGE */
.hero {
  height: 90vh;
  padding: 0 9.6rem;
  padding-bottom: 9.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--OurLight);
}
.hero h4 {
  padding-bottom: 1.5rem;
}
.hero h1 {
  color: var(--purple-color);
}
.hero button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background-color: hsl(255deg 50% 40%);
  border: solid 4px transparent;
  font-family: inherit;
}
.hero-img {
  width: 90%;
}
.flash {
  color: goldenrod;
}
.default-button,
.hover-button {
  background-color: #4d3399;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hover-button {
  position: absolute;
  inset: 0;
  background-color: hsl(255deg 50% 49%);
  transform: translate(0%, 100%);
}

.default-button span {
  color: hsl(0, 0%, 100%);
}

.hover-button span {
  color: hsl(50deg 100% 50%);
}

button:hover .default-button {
  transform: translate(0%, -100%);
}

button:hover .hover-button {
  transform: translate(0%, 0%);
}
.text-cont {
  text-align: center;
  margin-top: 35px;
}
/* Categories - Section*/
.categories {
  font-size: 5.4rem;
  text-align: center;
}
.animate {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: transparent; /* Set the text color as transparent */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* For Safari compatibility */
  animation: textclip 2s linear infinite;
  display: inline-block;
  /* Adjust the font size as desired */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.feature {
  background-color: var(--OurLight);
  text-align: center;
  position: relative;
  padding-bottom: 6.4rem;
}
.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 9.6rem 9.6rem;
  align-items: center;
  gap: 40rem;
}
.Watches-heading {
  position: absolute;
  bottom: 100%;
  left: 30%;
  color: #8b45fc;
  letter-spacing: 10px;
}
.Watches-heading-none {
  position: absolute;
  top: 0%;
  right: 35%;
  opacity: 0.0000001;
  transition: opacity 0.5s;
  color: #4d2497;
}
.takealook-heading-none {
  display: inline-block;
  font-size: 3.2rem;
  position: absolute;
  top: 88%;
  left: 29%;
  opacity: 0.0000001;
  transition: opacity 0.5s;
  font-weight: 700;
}
.feature-box {
  display: flex;
  align-items: center;
  min-width: 40rem;
  height: 40rem;
  position: relative;
}
.feature-box-1 {
  position: absolute;
  width: 35rem;
  height: 35rem;
  top: 0%;
  right: 12%;
  border: 3px solid #4d2497;
  transition: 0.5s ease-in;
}
.feature-box-2 {
  position: absolute;
  width: 35rem;
  height: 35rem;
  bottom: 0%;
  right: 0%;
  left: 12.5%;
  border: 3px solid #4d2497;
  transition: 0.5s ease-in;
}
.feature-box:hover .feature-box-1 {
  transition: right 0.5s ease-out;
  right: 7.5%;
}
.feature-box:hover .feature-box-2 {
  transition: left 0.5s ease-out;
  left: 5%;
}
.feature-box:hover .Watches-heading-none {
  opacity: 1;
}
.feature-box:hover .takealook-heading-none {
  opacity: 1;
}
.feature-box:hover .Watches-heading {
  display: none;
}
.feature-box:hover .feature-img {
  scale: 1.01;
  transform: scale(1.05);
}
.feature-img {
  width: 65%;
  transition: all 0.2s ease-in-out;
}
/* Products - Section*/
#Prouduct1 {
  text-align: center;
}
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  padding-bottom: 9.6rem;
}
.product-card {
  width: 30rem;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
}
.New-Arrival {
  font-weight: 700;
  color: #231557;
  font-size: 5.6rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 5px;
}
.summer-products {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.badge {
  position: absolute;
  left: 0;
  top: 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background: #4d2497;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 5rem;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 3rem;
}

.product-catagory {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 1.8rem;
}

.product-details h4 a {
  font-weight: 500;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #44107a;
}
.product-details p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 1.8rem;
  color: #44107a;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 0.5rem;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 0.5rem;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 1.8rem;
}
.product-links a:hover {
  color: #44107a;
}
.section-m1 {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}
.right-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5.6rem;
  gap: 3.2rem;
  color: #44107a;
}
.fragrance {
  font-weight: 400;
  color: black;
  font-size: 5.4rem;
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 5px;
  text-align: left;
  line-height: 1.5;
}
.sehly {
  margin-left: 90px;
}
.perfume-section-text {
  font-size: 2rem;
  text-align: left;
  color: #44107a;
}
.handwriting {
  position: absolute;
  top: 30%;
  left: -30%;
}
.handwriting-img {
  width: 28%;
}
.line {
  padding: 0.35px;
  width: 15%;
  background-color: black;
}
.black-perfume {
  width: 60%;
  border: double 10px #44107a;
  transition: all ease-in 0.5s;
}
.black-perfume:hover {
  scale: 1.015;
  transition: all ease-out 0.5s;
}
.line-available {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.available {
  font-size: 1.6rem;
  color: #4d2497;
}
.timeless {
  position: absolute;
  top: 30%;
  left: -10%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 481px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 981px) {
  .container {
    max-width: 960px;
  }
}

.wm-hero {
  --duration1: 2.5s;
  --duration2: calc(var(--duration1) / 2);
  --delay1: calc(var(--duration2) / 2);
  --delay2: calc(var(--duration2) + var(--delay1));
  --easing: cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: white;
  overflow: hidden;
  text-align: center;
}
.wm-hero h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 2em;
  margin-bottom: 2em;
  opacity: 0;
  transform: translateY(3em);
  animation: loadH1 var(--duration1) var(--easing) var(--delay1) forwards;
}

@media screen and (min-width: 981px) {
  .wm-hero h1 {
    font-size: 56px;
  }
}

.wm-hero img {
  display: block;
  max-width: 100%;
  height: auto;
  transform: translateY(100%);
  animation: loadImg var(--duration2) var(--easing) var(--delay2) forwards;
}

@keyframes loadH1 {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  30%,
  50% {
    opacity: 1;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes loadImg {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: none;
  }
}
/* FOOTER */
.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.logo-pic {
  width: 34%;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.hramSehly {
  font-size: 2.4rem;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  cursor: pointer;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/*cards about us*/
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  box-shadow: none;
  background: darkorchid;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

/* article a:focus {
  outline: 1px dotted :#ffffff;
} */

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #ffffff;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

#articles {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  /* background-image: linear-gradient(45deg, #7c9885, #b5b682); */
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

/* cart  */

/*SHOP PAGE*/
